<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>MiniShop</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  {{> navbar}}

  <main>
    {{{body}}}
  </main>

  {{> footer}}

</body>
</html>